# The bot token
DISCORD_TOKEN=""

# A comma-separated list of user ids that can run admin commands
USER_IDS_WHO_CAN_RUN_HIGH_PRIVILEGE_COMMANDS=""

# A comma-separated list of guild ids that are being secured by this instance
GUILD_IDS_TO_SYNC_BANS_IN=""
