# The bot token
DISCORD_TOKEN=""
DISCORD_APPLICATION_ID=""
LFG_GUILD_ID=""
LFG_VOTEKICK_CHANNEL=""
BLOCKED_FROM_VOICE_CHANNEL_ROLE_ID=""
MODLOG_CHANNEL_ID=""

# Database information
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="an example password"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME="vlfg_kicks"

# A comma-separated list of guild ids that should have the bans synced across
GUILD_IDS_TO_SYNC_BANS_IN=""

# Ignore everything after this comment #

DATABASE_URL="postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public&max_connections=4"
